<.back navigate={~p"/clues"}>Back to clues</.back>
<.header>
  New Clue
  <:subtitle>Use this form to manage clue records in your database.</:subtitle>
</.header>

<.clue_form changeset={@changeset} action={~p"/clues"}/>
