<.back navigate={~p"/clues"}>Back to clues</.back>
<.header>
  New Clue
  <:subtitle>Use this form to manage clue records in your database.</:subtitle>
</.header>

<.form_with_answer changeset={@changeset} action={~p"/clues"} answer_id={@answer_id}/>
