<.header>
  New Acceptable answer
  <:subtitle>Use this form to manage acceptable_answer records in your database.</:subtitle>
</.header>

<.acceptable_answer_form changeset={@changeset} action={~p"/acceptable_answers"} />

<.back navigate={~p"/acceptable_answers"}>Back to acceptable_answers</.back>
